/*
	* The following color variable are all the color which is use for this website.
	* 
	*
	*
	*
*/

/* Main color */

$white: #fff;
$black: #000;
$whiteGray: #f5f5f5;
$lightBlack: #333;
$fbBackground: rgb(59,89,153);
$heavyGray: rgb(187,187,187);
$transparentBlack: rgba(100,100,100,0.7);
$lightGray: rgb(221,221,221);
$slaveBlack: #333F48;

/* Background color
 ----------------------------------------- */

 $defaultBg: #f7f7f7;

/* Width
 ----------------------------------------- */

 $fullWidth: 100%;
 $site_container_width: 96%;
 $site_container_padding: 2%;
 $site_md_container: 86%;
 $site_md_container_padding: 7%;
 $site_sm_container: 72%;
 $site_sm_container_padding: 14%;
 $half: 50%;

 /* Section padding & margin
  ----------------------------------------- */ 

  $section-padding: 30px;
  $section-margin: 15px; 

/* Font */

$text_font_size: 14px;
$text_small: 13px;
$text_title: 16px;
$font_size_en: 15px;
/* Font family */

$font_en: "Dosis", sans-serif !important;
$font_jp: arial,'ヒラギノ角ゴ ProN W3','Hiragino Kaku GothicProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳＰゴシック',sans-serif !important;

/* Text color
 ----------------------------------------- */

 $paragraph_color: #333;
 $heading_color: #333;
 $section_heading_color:#333;

/* Text shadow */
$heading_text_shadow: 0px 0px 0.5px #999;
$paragraph_text_shadow: 0px 0px 0.3px #999;

/* Image url / directory path
 ------------------------------------------ */
 $business_domain_bg: "../img/main/business_domain/main_business_domain_bg_07.png";
 $news_bg: "../img/main/news/main_news_bg_01.png";
 $about_page_banner: "../img/about_us/banner/about_us_clear_banner_01.png";

/* Library color */

$color-yellow: #E8E759;
$color-yellow-dark: #CCCB1E;
$color-blue: #4444E4;
$color-blue-light: #8E8EEC;
$color-blue-dark: #1818A5;
$color-blue-darkest: #0F0F6C;
$color-blue-extremely-dark: #080840;
$color-grey: #59E8B3;
$color-pink: #E17582;

$color-mac-and-cheese: #E8E759;
$color-royal-blue: #4444E4;
$color-turquoise-blue: #59E8B3;
$color-deep-blush: #E17582;

