@charset "UTF-8";

/*
	* The following color variable are all the color which is use for this website.
	* 
	*
	*
	*
*/

/* Main color */

/* Background color
 ----------------------------------------- */

/* Width
 ----------------------------------------- */

/* Section padding & margin
  ----------------------------------------- */

/* Font */

/* Font family */

/* Text color
 ----------------------------------------- */

/* Text shadow */

/* Image url / directory path
 ------------------------------------------ */

/* Library color */

/** Helper @mixin function **/

/***************************/

/* -------------------------------------------------------------------------

		util.sass
		
		案件に依存せず汎用的に使うClassを定義
		
------------------------------------------------------------------------- */

/* float clear
------------------------------------------------- */

/*for modern browser*/

.clear_fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

/*for IE 5.5-7*/

.clear_fix {
  zoom: 1;
}

.clear_both {
  clear: both;
  height: 1px;
  font-size: 1px;
  text-align: center;
  line-height: 0;
}

.clear {
  clear: both;
}

/* float
------------------------------------------------- */

.float_r {
  float: right;
  display: inline;
}

.float_l {
  float: left;
  display: inline;
}

/* text align
-------------------------------------------------- */

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.text_right {
  text-align: right !important;
}

/* font family
----------------------------------------------------- */

.lang_jp {
  font-family: arial, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku GothicProN", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33\FF30\30B4\30B7\30C3\30AF", sans-serif !important;
}

.lang_en {
  font-family: "Dosis", sans-serif !important;
}

/* Text underline */

.underline {
  border-bottom: 1px solid #999;
}

/* visibility of element */

.show_sm {
  display: none !important;
  visibility: hidden !important;
}

/* グリッドレイアウト用mixin (IE8以上)
usage:
■12分割で間隔が20pxのグリッドのクラスを作る場合
・SASS
@include grid_system(12, 20px);
・HTML
<div class="grid_system_12">  ← このdivへの幅指定はNG
	<div class="grid_6"></div> ┐
	<div class="grid_3"></div> ├ 子要素は合計が12になるようにクラス名を付ける
	<div class="grid_3"></div> ┘
</div>
------------------------------------------------- */

body.mobile_nav_open {
  overflow: hidden;
}

/** Full width container **/

/********************/

.fluid_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.fluid_container::after {
  clear: both;
  content: "";
  display: block;
}

/** Toggle menu button**/

/******************/

.toggle_menu {
  display: none;
  position: relative;
  float: left;
  width: 50%;
  height: 70px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.toggle_menu div.outer-btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -17px;
  cursor: pointer;
}

.toggle_menu span.bar {
  display: block;
  height: 2px;
  width: 25px;
  background: #000;
  margin: 10px 0;
}

/** Global navigation bar **/

/**********************/

.global_nav {
  float: right;
  width: 80%;
  height: 70px;
}

.global_nav ul {
  list-style-type: none;
  display: inline-block;
  float: right;
}

.global_nav ul ul {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 0;
  overflow: hidden;
  top: 70px;
  left: 50%;
  margin-left: -100px;
  padding: 0px;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  z-index: 200;
  -webkit-transition: height 0.4s ease-in;
  transition: height 0.4s ease-in;
}

/** Global navigation in smartphone and small screen **/

.mobile_global_nav {
  display: none;
  position: fixed;
  /*overflow: scroll;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0px 10px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1100;
}

.mobile_global_nav::after {
  clear: both;
  content: "";
  display: block;
}

.mobile_global_nav .button_outer {
  position: relative;
  width: 100%;
  height: 70px;
}

.mobile_global_nav .button_outer .outer {
  position: relative;
  right: 0;
  height: 70px;
  cursor: pointer;
}

.mobile_global_nav .button_outer .outer::after {
  clear: both;
  content: "";
  display: block;
}

.mobile_global_nav .button_outer span {
  position: absolute;
  display: block;
  float: left;
  height: 2px;
  width: 25px;
  background: #fff;
  right: 10px;
  opacity: 0;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.mobile_global_nav .button_outer span.bar-1 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.mobile_global_nav .button_outer span.bar-1.rotate {
  opacity: 1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.mobile_global_nav .button_outer span.bar-2 {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}

.mobile_global_nav .button_outer span.bar-2.rotate {
  opacity: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

/*
 * PAGE : Mian visual;
 * SECTION : Top banner;
 */

.site_banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  z-index: 100;
}

.site_banner::after {
  clear: both;
  content: "";
  display: block;
}

.site_banner .load_banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site_banner .load_banner.loading {
  background: #fff url(/img/common/icons/img_loader_01.gif) no-repeat center center;
  -webkit-background: #fff url(/img/common/icons/img_loader_01.gif) no-repeat center center;
  -moz-background: #fff url(/img/common/icons/img_loader_01.gif) no-repeat center center;
  -ms-background: #fff url(/img/common/icons/img_loader_01.gif) no-repeat center center;
  -o-background: #fff url(/img/common/icons/img_loader_01.gif) no-repeat center center;
  z-index: 1;
}

.site_banner .banner_inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-position: center center !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.site_banner .banner_inner::after {
  clear: both;
  content: "";
  display: block;
}

.site_banner .banner_list {
  visibility: visible;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.site_banner .banner_list::after {
  clear: both;
  content: "";
  display: block;
}

.site_banner .banner_item {
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
}

.site_banner .banner_item::after {
  clear: both;
  content: "";
  display: block;
}

.site_banner .item_inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-position: center center !important;
  position: relative;
}

.site_banner .item_inner::after {
  clear: both;
  content: "";
  display: block;
}

.site_banner .item_title {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0 auto;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.site_banner .item_title::after {
  clear: both;
  content: "";
  display: block;
}

.site_banner .item_title .title,
.site_banner .item_title .slogan,
.site_banner .item_title .description {
  width: 100%;
  float: left;
}

.site_banner .item_title img {
  max-width: 100%;
  border: 0;
  vertical-align: bottom;
}

.site_banner .item_title span {
  display: block;
  position: relative;
  width: 100%;
  font-size: 400%;
  color: #fff;
  text-align: center;
}

.site_banner .item_img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  -webkit-transition: all 20s cubic-bezier(0, 0, 1, 1) 0s;
  transition: all 20s cubic-bezier(0, 0, 1, 1) 0s;
  transform: scaleX(1) scaleY(1) scaleZ(1);
  -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
  -moz-transform: scaleX(1) scaleY(1) scaleZ(1);
  -ms-transform: scaleX(1) scaleY(1) scaleZ(1);
  -o-transform: scaleX(1) scaleY(1) scaleZ(1);
}

.site_banner .item_img::after {
  clear: both;
  content: "";
  display: block;
}

.site_banner .item_img img {
  width: 100%;
  height: auto;
  border: 0;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  vertical-align: bottom;
}

.site_banner .item_img.img_scale {
  transform: scaleX(1.7) scaleY(1.7) scaleZ(1);
  -webkit-transform: scaleX(1.7) scaleY(1.7) scaleZ(1);
  -moz-transform: scaleX(1.7) scaleY(1.7) scaleZ(1);
  -ms-transform: scaleX(1.7) scaleY(1.7) scaleZ(1);
  -o-transform: scaleX(1.7) scaleY(1.7) scaleZ(1);
}

.social-icons-subnav {
  padding-left: 90px;
}

.menu-init {
  position: relative;
  float: left;
  width: calc(100% - 120px);
}

.logo-wrapper {
  position: relative;
  float: left;
  padding: 0 15px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.sticky-nav.navbar-default .logo-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.sticky-nav.navbar-default .navbar-brand img {
  -webkit-transform: scale(0.735);
  transform: scale(0.735);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.director_msg {
  position: relative;
  width: 100%;
  padding: 25px;
  margin-top: 20px;
  background: #10703c;
}

.director_msg::after {
  clear: both;
  content: "";
  display: block;
}

.director_msg > * {
  display: block;
  width: 100%;
  float: left;
}

.director_msg .heading,
.director_msg h1,
.director_msg h2,
.director_msg h3,
.director_msg h4,
.director_msg h5,
.director_msg h6,
.director_msg span,
.director_msg p {
  display: block;
  color: #fff;
}

.director_msg .heading {
  text-align: center;
  font-size: 15px;
}

.director_msg .avatar {
  margin: 15px 0;
}

.director_msg .avatar .inner {
  width: 160px;
  height: 160px;
  border: 2px #e3a149 solid;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.director_msg .name,
.director_msg .position {
  font-size: 13px;
  text-align: center;
}

.director_msg .message_txt {
  margin-top: 10px;
}

.director_msg .message_txt p {
  font-size: 10.1pt;
  margin-bottom: 10px;
  text-align: justify;
}

.director_msg .director_profile {
  display: block;
  width: 100%;
}

.mobile_global_nav button {
  background: transparent;
  outline: none;
  display: block;
  padding: 0;
  margin-right: 15px;
  border: none;
  color: #fff;
  font-size: 250%;
}

.mobile_global_nav ul {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.mobile_global_nav ul::after {
  clear: both;
  content: "";
  display: block;
}

.mobile_global_nav .toggle_about_nav img {
  vertical-align: middle;
  margin-left: 10px;
}

.mobile_global_nav .toggle_about_nav,
.mobile_global_nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Dosis", sans-serif !important;
  width: 100%;
  display: block;
  font-size: 100%;
  line-height: 3.2;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  cursor: pointer;
}

.mobile_global_nav a:hover {
  color: #b3b2b2;
}

.mobile_global_nav ul ul {
  display: none;
  width: 100%;
  margin: 20px 0px;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

.mobile_global_nav ul ul::after {
  clear: both;
  content: "";
  display: block;
}

.mobile_global_nav ul ul li {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  border-bottom: 1px solid #444;
}

.mobile_global_nav ul ul li:nth-child(odd) {
  border-right: 1px solid #444;
}

.mobile_global_nav ul ul li a {
  font-family: arial, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku GothicProN", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33\FF30\30B4\30B7\30C3\30AF", sans-serif !important;
}

.scroll_bottom {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  padding: 10px 0px 50px 0px;
}

.scroll_bottom span {
  position: relative;
  top: -80%;
  display: block;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  margin-left: -54px;
}

.scroll_bottom span:hover {
  margin-top: 10px;
}

.scroll_bottom span {
  padding: 7px 15px;
  cursor: pointer;
  -webkit-transition: margin-top 0.4s ease;
  transition: margin-top 0.4s ease;
}

.navbar-brand {
  padding: 0px !important;
  max-width: 90px;
}

.navbar-brand img {
  display: block;
  width: 100%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .site_banner {
    height: 100vh;
    margin-top: -70px;
  }

  .site_banner .item_img img {
    width: 100%;
    height: 100%;
    min-height: 640px;
    min-width: 1300px;
  }
}

@media only screen and (max-width: 960px) {
  .site_banner .item_title span {
    font-size: 300%;
  }
}

@media only screen and (max-width: 900px) {
  .scroll_bottom span {
    top: -40%;
  }
}

@media only screen and (max-width: 850px) {
  .toggle_menu {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    height: 60px;
  }

  .mobile_global_nav .button_outer {
    height: 60px;
  }

  .mobile_global_nav .button_outer .outer {
    height: 60px;
  }

  .site_banner {
    height: auto;
  }

  .site_banner .item_title img {
    max-width: 92%;
    margin-left: 4%;
  }

  .site_banner .item_img img {
    position: relative;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 640px) {
  .site_banner .item_title span {
    font-size: 220%;
  }

  .scroll_bottom {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 520px) {
  .scroll_bottom span img {
    display: block;
    width: 25px;
  }

  .site_banner .item_title span {
    font-size: 160%;
  }
}

@media only screen and (max-width: 420px) {
  .site_banner .item_title span {
    font-size: 120%;
  }

  .scroll_bottom {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 340px) {
  .scroll_bottom span {
    margin-right: -4px;
  }

  .scroll_bottom span img {
    width: 20px;
  }

  .mobile_global_nav ul {
    width: 100%;
  }

  .mobile_global_nav .dropdown_ul a {
    font-size: 11px;
  }

  .mobile_global_nav a {
    font-size: 15px;
  }
}

/* -------------------------------------------------------------------------
		print.scss
------------------------------------------------------------------------- */

@media print {
  /* IE zoom
	------------------------------------------------- */

  /* for IE6 or older */

  * html body {
    zoom: 0.7;
  }

  /* for IE7 */

  * + html body {
    zoom: 1;
  }
}

